p.slide {
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: 5;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
