body {
  background-color: #F7F7F7;
}
.startButton {
  display: inline-block;
  text-align: center;
  background-color: #64dd17;
  width: 100%;
  height: 40%;
  position:relative !important;
  bottom:0 !important;
  color: black;
}

.startButtonUnity {
  display: inline-block;
  text-align: center;
  background-color: #00BFFF;
  width: 100%;
  height: 40%;
  position:relative !important;
  bottom:0 !important;
  color: black !important;

}

.startButtonUnity a{
  color: black !important;
}

.startButton a{
  color: black !important;
}

.pageTitle a{
  color: black !important;
}

/* =================================================================================================================================Turn all links to black text ==============================================*/
/*a:link {
  color: black;
}

a:visited {
  color: black;
}*/

/* =================================================================================================================================ALL PAGES: Page Heading/Titles=============================================*/
#pageHeading {
  margin-bottom: 3%;
}

.pageTitle {
  font-family: 'Crete Round', serif;
  text-align: center;
}

.pageParagraph {
  font-size: 17px;
  text-align: center;
}

/* =================================================================================================================================ALL CARDS: Card Contents===================================================*/
.card {
  width: 90%;
  margin: .5rem 5% 1rem 5%;
  height: 410px;
}

.card-image img {
  height: 75%;
  width: auto;
}

.card-content {
  text-align: center !important;
  color: black !important;
  width: 100%;
  height: 100%;
}

.cardbackground {
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height:75%;
}

.card .card-content {
  padding: 0;
}

.cardDescription {
  width: 100%;
  height: 25%;
}

.cardHeading {
  text-align: center;
}

.description {
  text-align: center;
  padding-bottom: 2%;
}




.passionprojects{
  display: inline-block;
  text-align: center;
  background-color: lightslategrey;
  color: black;
  width: 25%;
  height: 60px;
  position:relative !important;
  bottom:0 !important;
}

.worldbuilding-tip {
  margin-top: 50px;
  position: relative;
}
.worldbuilding-tip-quote {
  color: #333;
  position: relative;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 16px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}


/* =================================================================================================================================Scratch Lesson Cards=======================================================*/
#aboutMeBG {background-image: url('aboutme.gif');}
#animateMeBG {background-image: url('animatename.jpg');}
#fivethingsMeBG {background-image: url('fivethings.gif');}
#rockbandBG {background-image: url('rockband.png');}
#petBG {background-image: url('pet.gif');}
#animationBG {background-image: url('makeurownanimation.png');}
#gettheprizeBG {background-image: url('gettheprize.gif');}
#hideandseekBG {background-image: url('hideandseek.gif');}
#terraBG {background-image: url('terra.gif');}
#selectionBG {background-image: url('chooseadventure.png');}
#chatbotBG {background-image: url('chatbot.png');}
#tellastoryBG {background-image: url('tellastory.jpg');}
#aboutmeBG {background-image: url('boolean.png');}
#paintBG {background-image: url('paint.gif');}
#boatBG {background-image: url('boat.gif');}
#BG {background-image: url('final.gif');}
#breakoutBG {background-image: url('breakout.gif');}
#fallingfruitBG {background-image: url('fallingfruit.gif');}
#monkeyBG {background-image: url('monkey.gif');}
#urownworldBG {background-image: url('createyourownadventure.gif');}
#memoryyBG {background-image: url('memory.gif');}
#dotsBG {background-image: url('catchthedots.gif');}
#spaceBG {background-image: url('spacefinal.gif');}
#gothedistanceBG{background-image: url(./ScratchProjects/gothedistanceBG.jpg);}


/* HTML CSS background images */
#htmlcssBG {background-image: url('htmlcss.jpg');}
#bioBG {background-image: url('bio.jpg');}
#recipeBG {background-image: url('recipe.png');}
#adventureBG {background-image: url('adventuregame.jpg');}
#storyBG {background-image: url('story.png');}
#friendBG {background-image: url('friendogram.jpg');}
#burgerBG {background-image: url('buildaburger.jpg');}
#pattern {background-image: url('pattern.gif');}
#hoverBG {background-image: url('hover.gif');}
#typingBG {background-image: url('typing.gif');}
#cloneBG {background-image: url('clone.png');}
#logoBG {background-image: url('logo.png');}
#keyframesreviewBG{background-image: url();}
#portBG{background-image: url('scratchportfolio.jpg');}
#passionBG{background-image: url('passionProject.jpg')}
.kahootBG {background-image: url('kahoot.jpeg');}
.challenge1{background-image: url('codingchallenge1.jpg');}
.challenge2{background-image: url('codingchallenge2.jpg');}
.challenge3{background-image: url('codingchallenge3.jpg');}
/*Not used right now*/
#wantedBG {background-image: url('wanted.png');}
#wrapupBG {background-image: url('wrapup.jpg');}
#bdayBG {background-image: url('bday.jpg');}


/*Graphic Design background Images*/
#glossaryBG {background-image: url('glossaryBG.jpg');}
#gimpBG {background-image: url('gimpBG.jpg');}
#typographicposterBG {background-image: url('typographicposterBG.jpg');}
#photomanipulationBG {background-image: url('photomanipulationBG.gif');}
#splashpageBG {background-image: url('splashpageBG.jpg');}
#gifBG {background-image: url('gifBG.gif');}
#infographicBG {background-image: url('infographicBG.jpg');}
#interactiveBG {background-image: url('interactiveBG.jpg');}
#geometricBG {background-image: url('geometricBG.jpg');}
#uiuxBG {background-image: url('uiuxBG.jpg');}
#colortheoryBG {background-image: url('colortheoryBG.gif');}
#imagesBG {background-image: url('imagesBG.jpg');}
#twoddesignBG {background-image: url('twoddesignBG.png');}
#designprocessBG {background-image: url('designprocessBG.jpg');}
#gdintroBG {background-image: url('gdintroBG.png');}
#resourcesBG {background-image: url('resourcesBG.jpg');}
#topofpage {background-image: url('topofpage.gif');}
#brandingBG {background-image: url('brandingBG.jpg');}
#vectorrasterBG {background-image: url('vectorrasterBG.png');}
#colorBG{background-image: url('colorBG.jpg');}
#colorizeBG{background-image: url('colorizeBG.jpg');}
#copyrightBG{background-image: url('copyrightBG.jpg');}
#moodboardBG{background-image: url('moodboardBG.jpg');}
#cymkrgbBG{background-image: url('cymkrgbBG.jpg');}
#popartBG{background-image: url('popartBG.jpg');}
#layoutcompBG{background-image: url('layoutcompBG.jpg');}
#patternrepetitionBG{background-image: url('patternrepetitionBG.jpg');}
#behanceBG{background-image: url('behanceBG.gif');}
#socialmediaBG{background-image: url('socialmediaBG.jpg');}
#curvesBG{background-image: url('curvesBG.jpg');}
#negspaceBG{background-image: url('negspaceBG.jpg');}
#rulesBG{background-image: url('rulesBG.jpg');}
#gridsBG{background-image: url('gridsBG.jpg');}
#typographyBG{background-image: url('typographyBG.png');}
#badfontBG{background-image: url('badfontBG.jpg');}
#typographyposterBG{background-image: url('typographyposterBG.jpg');}
#designyourownBG{background-image: url('designyourownBG.gif');}


/*2d/3d animation background images*/
#settingupunityBG {background-image: url('settingupunityBG.jpg');
background-position: center; background-size: contain;}
#unitybreakdownBG {background-image: url('unitybreakdownBG.jpg');
background-position: center; background-size: contain;}
#importingassetsBG {background-image: url('importingassetsBG.jpg');
background-position: center; background-size: contain;}
#keyframessoundBG {background-image: url('keyframessoundBG.jpg');
background-position: center; background-size: contain;}
#curvesandstatesBG {background-image: url('curvesandstatesBG.jpg');
background-position: center; background-size: contain;}
#openingsceneBG {background-image: url('openingsceneBG.jpg');
background-position: center; background-size: contain;}
#lightingBG {background-image: url('lightingBG.jpg');
background-position: center; background-size: contain;}
#renderingBG {background-image: url('renderBG.jpg');
background-position: center; background-size: contain;}
#titleSceneBG{background-image: url('titlescenecutsceneBG.gif');
background-position: center; background-size: contain;}
#twodBG {background-image: url('twodBG.gif');
background-position: center; background-size: contain;}
#unlockingBG {background-image: url('unlockingBG.jpg');
background-position: center; background-size: contain;}
#worldbuildingBG {background-image: url('worldbuildingBG.gif');
  background-position: center; background-size: contain;}

#webdevBG {background-image: url('computer.gif'); background-position: center; background-size: contain;}
#pythonBG {background-image: url('Python.png'); background-position: center; background-size: contain;}
#googleBG {background-image: url('google.png'); background-position: center; background-size: contain;}
#patternBG {background-image: url('striped.gif');}

/*Unity images */
#setupBG{background-image: url('setup.jpg');}
#worldbuildingBG{background-image: url('worldbuilding_terrain.jpg');}
#worldbuilding2BG{background-image: url('worldbuilding_terrain2.jpg');}
#characterBG{background-image: url('character.gif');}
#organizeBG{background-image: url('organize.jpg');}
#collectableBG{background-image: url('collectable.jpg');}
#uiBG{background-image: url('interface.gif');}
#collectable2BG{background-image: url('collectable2.gif');}
#prefabBG{background-image: url('prefab1.gif');
background-position: center; background-size: contain;}
#enemyBG{background-image: url('enemy.jpg');}
#attackBG{background-image: url('enemyattacks.gif');}
#healthBG{background-image: url('healthbar1.gif');}
#fightBG{background-image: url('fightingenemies.gif');}
#enemyprefabBG{background-image: url('prefabenemy.jpeg');}
#menuBG{background-image: url('unitymenu.gif');}
#audioBG{background-image: url('audio.jpeg');
background-position: center; background-size: contain;}
#buildBG{background-image: url('unitybuild.jpeg');
background-position: center; background-size: contain;}
#interfaceBG{background-image: url('interfacebasics.jpg');
background-position: center; background-size: contain;}
#movementBG{background-image: url('movementtools.gif');
background-position: center; background-size: auto;}
#assetBG{background-image: url('assetstore.gif');
background-position: center; background-size: contain;}
#terrain3BG{background-image: url('worldbuildingbasics.jpg');}
#collectable3BG{background-image: url('collectablescheatsheet.jpg');
background-position: center; background-size: contain;}
#scriptBG{background-image: url('scriptingbasics.gif');}
#errorBG{background-image: url('errormessages.jpg');
background-position: center; background-size: contain;}

/*Python images */
#pythonsetupBG{background-image: url('./Python_files/replit.png');}
#syntaxBG{background-image: url('./Python_files/syntax.jpg');}
#functionsBG{background-image: url('./Python_files/inputoutput.jpg');}
#variablesBG{background-image: url('./Python_files/variables.png');}
#controlsBG{background-image: url('./Python_files/conditionals.jpg');}
#pythonErrorsBG{background-image: url('./Python_files/error.jpg');}
#loopsBG{background-image: url('./Python_files/loop.jpg');}
#functions2BG{background-image: url('./Python_files/functions.jpg');}
#listsBG{background-image: url('./Python_files/lists.jpg');}
#hangmanBG{background-image: url('./Python_files/hangman.jpg');}

/*JS Images */
#codecademyBG{background-image: url('Codecademy.png');
background-position: center; background-size: contain;}
#learnjsBG{background-image: url('JavaScript-logo.png');
background-position: center; background-size: contain;}
#w3schoolsBG{background-image: url('W3Schools_logo.png');
background-position: center; background-size: contain;}

/* =================================================================================================================================HOME PAGE CARD============================================================ */
.agesHeading {
  text-align: center;
  font-size: 30px;
  margin-top: 8%;
  padding-top: 40%;
  color: black;
  margin-bottom: 4%;
  font-family: 'Crete Round', serif;
}

.projectTitle {
  font-weight: bold;
}

/* =================================================================================================================================Lesson Instructions========================================================*/
.blueLink {
  color: #42a5f5  !important;
}
.projectsection1 {
  background-color: white;
  height: 20%;
  padding: 2%;
}
.collapsible {
  border-radius: 5%;
  background-color: white;
  height: 20%;
  font-size: 18px;
  box-shadow: none;
  border: none;
}
.collapsible-header {
  font-weight: bold;
}
.lessonSubheading {
  font-weight:bold;
}
.infosection {
  display: inline-block;
  font-weight: bold;
}
.creditLine {
  font-style: italic;
}
#dataText {
  color: darkorange;
  font-weight: bold;
}
.checkbox {
  border-radius: 5%;
  text-align: center;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    z-index: 0;
    border: 4px solid #e0e0e0;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s;
}

/* =================================================================================================================================Animations Grid============================================================*/
.left {
  float: left;
  width: 50%;
  padding-top: 2%;
}

.left p {
  padding-left: 5%;
}

.right {
  float: right;
  width: 50%;
  padding-top: 2%;
  padding-left: 2%;
}

.right p {
  padding-left: 5%;
}

/* =================================================================================================================================Find Another Project Card==================================================*/

.browse {
  text-align: center;
}
.browse button {
  text-align: center;
  background-color: white;
  border: 3px solid #2196f3;
  width: 160px;
  height: 50px;
  margin-bottom: 10%;
}

.browse button:hover {
text-align: center;
color:white;
background-color: #2196f3;
border: 3px solid #2196f3;
width: 160px;
height: 50px;
}
.findanotherproject {
  width: 500px !important;
  height: 200px !important;
}
.findanotherproject h6 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-top: 10%;
}

span{
  position: relative;
}


.events{
  background-color: #FFD500;
  border-radius: 2%;
  color: white;
  padding: 1%;
  font-weight: bold;
  line-height: 180%;

}
.control{
background-color: #FFAB19;
border-radius: 2%;
color: white;
padding: 1%;
font-weight: bold;
position: relative;
line-height: 180%;

}

.motion{
  background-color: #4C97FF;
  border-radius: 2%;
  color: white;
  padding: 1%;
  font-weight: bold;
  position: relative;
  line-height: 180%;


}
.looks{
  background-color: #9966FF;
  border-radius: 2%;
  color: white;
  padding: 1%;
  font-weight: bold;
  position: relative;
  line-height: 180%;
}

.sound{
  background-color: #D65CD6;
  border-radius: 2%;
  color: white;
  padding: 1%;
  font-weight: bold;
  position: relative;
  line-height: 180%;
}

.sensing{
  background-color:#4CBFE6;
  border-radius: 2%;
  color: white;
  padding: 1%;
  font-weight: bold;
  position: relative;
  line-height: 180%;
}

.operators{
  background-color: #40BF4A;
  border-radius: 2%;
  color: white;
  padding: 1%;
  font-weight: bold;
  position: relative;
  line-height: 180%;
}

.variables{
  background-color: #FF8C1A;
  border-radius: 2%;
  color: white;
  padding: 1%;
  font-weight: bold;
  position: relative;
  line-height: 180%;
}

.myblocks{
  background-color: #FF6680;
  border-radius: 2%;
  color: white;
  padding: 1%;
  font-weight: bold;
  position: relative;
  line-height: 180%;
}

.pen {
  background-color: MediumSeaGreen;
  border-radius: 2%;
  color: white;
  padding: 1%;
  font-weight: bold;
  position: relative;
  line-height: 180%;
}

.extensions{
  background-color: #0FBD8C;
  border-radius: 2%;
  color: white;
  padding: 1%;
  font-weight: bold;
  position: relative;
  line-height: 180%;
}

.inlesson_kahoot {
  text-align: center;
  background-color: white;
  border: 3px solid #2196f3;
  width: 160px;
  height: 50px;
  margin-bottom: 3%;
  margin-left: 5%;
}

.inlesson_kahoot:hover {
  text-align: center;
  color:white;
  background-color: #2196f3;
  border: 3px solid #2196f3;
  width: 160px;
  height: 50px;
}

.hoverexample{
  background-color: black;
  color: white;
  padding: 20px;
  border: 2px solid green;
  width: 100%;
  transition: 1s;
}

.hoverexample:hover{
   background-color: green;
   color: black;
   padding: 50px;
   border: 2px solid white;
   width: 100%;

}

.pattern1{
  width: 100%;
  height: 40px;
  background-image: url('bigbanganimation.gif');
  animation: background-ScrollLeft 8s linear infinite;
}

.pattern2{
  width: 100%;
  height: 40px;
  background-image: url('snowpattern.gif');
  animation: background-ScrollRight 8s linear infinite;

}

@keyframes background-ScrollRight {
from{background-position: 0, 0;}
to{background-position: 200px, 0;}
}

@keyframes background-ScrollLeft {
  from{background-position: 0, 0;}
  to{background-position: -200px, 0;}
}

#typinganimation{
  animation: type 7s infinite;
  white-: nowrap;
  overflow: hidden;
}

#blinkingcursor{
  animation: blink 1.5s infinite;
}
@keyframes type {
  from{width:0;}
  to{width:100%;}
}

@keyframes blink {
  from {color: transparent;}
  to {color: black;}
}

/*
.startWord {
  display: inline-block;
}

.listItems {
  padding-bottom: 7%;
}

.more {
  margin-bottom: 18%;
}

.more2 {
  margin-bottom: 13%;
}

.more3 {
  margin-bottom: 4%;
}

.example {
  margin-top: 5%;
  font-weight: bold;
}

.eventsText {
  color:peru;
  font-weight: bold;
}

.ifthen {
  font-weight: bold;
}

.controls {
  color: goldenrod;
}

.motionText {
  color: blue;
  font-weight: bold;
}

#3 {
  margin-top: 1%;
} */

/* i.material-icons.sideArrow {
  display: inline-block;
} */

/* .codingConcepts {
  text-align: center;
  font-style: italic;
  border-top: 2px dashed grey;
  padding-top: 4%;
} */
