body {
  background-color: #F7F7F7;
}

.copyright{
  font-size: .8em;
  text-align: right;
  margin-top: 4em;
}

.logo{
  height: 2em;
  margin-top: .8em;
  margin-right: 1em;
}

.logo-div{
  text-align: right;
}

.startButton {
  display: inline-block;
  text-align: center;
  background-color: #64dd17;
  width: 100%;
  height: 45%;
  position: relative !important;
  bottom: 0 !important;
  color: black;
}

.reviewstartButton {
  display: inline-block;
  text-align: center;
  background-color: #00BFFF;
  width: 100%;
  height: 150%;
  position: relative !important;
  bottom: 0 !important;
  color: black;
}

.startButtonUnity {
  display: inline-block;
  text-align: center;
  background-color: #00BFFF;
  width: 100%;
  height: 45%;
  position: bottom !important;
  bottom: 0 !important;
  color: black !important;
}

.startButtonUnity a {
  color: black !important;
}

.startButton a {
  color: black !important;
}

.pageTitle a {
  color: black !important;
}

/* ========================================================================= */
/* ===================== Turn all links to black text ======================* /
/* ========================================================================= */

/*a:link {
  color: black;
}

a:visited {
  color: black;
}*/

/* ========================================================================= */
/* =================== ALL PAGES: Page Heading/Titles ====================== */
/* ========================================================================= */

#pageHeading {
  margin-bottom: 3%;
}

.pageTitle {
  font-family: 'Crete Round', serif;
  text-align: center;
}

.pageParagraph {
  font-size: 17px;
  text-align: center;
}

/* ========================================================================= */
/* ======================= ALL CARDS: Card Contents ======================== */
/* ========================================================================= */

.cardGrid {
  display: grid;
  grid-template-columns: [card1] 1fr [card2] 1fr [card3] 1fr [card4] 1fr;
  height: 500px;
}

.card1 {
  grid-column-start: card1;
  grid-column-end: card2;
}

.card2 {
  grid-column-start: card2;
}

.card3 {
  grid-column-start: card3;
}

.card4 {
  grid-column-start: card4;
}

.card {
  width: 90%;
  margin: .5rem 5% 1rem 5%;
  height: 410px;
}

.reviewcard {
  width: 150%;
  margin: .5rem 5% 1rem 5%;
  height: 210px;
}

.card-image img {
  height: 75%;
  width: auto;
}

.card-content {
  text-align: center !important;
  color: black !important;
  width: 100%;
  height: 100%;
}

.reviewcard-content {
  text-align: center !important;
  color: black !important;
  width: 50%;
  height: 50%;
}

.cardbackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 75%;
}

.card .card-content {
  padding: 0;
}

.cardDescription {
  width: 100%;
  height: 25%;
}

.cardHeading {
  text-align: center;
}

.description {
  text-align: center;
  /* margin-top: 50px !important; */
  margin-bottom: 50px !important;
  margin-right: 50px !important;
  margin-left: 50px !important;
  padding-bottom: 2%;
}

.passionprojects {
  display: inline-block;
  text-align: center;
  background-color: lightslategrey;
  color: black;
  width: 25%;
  height: 60px;
  position: relative !important;
  bottom: 0 !important;
}

.worldbuilding-tip {
  margin-top: 50px;
  position: relative;
}

.worldbuilding-tip-quote {
  color: #333;
  position: relative;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 16px;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.column {
  float: left;
  flex: 50%
}

/* ========================================================================= */
/* ================== Collapsible Scratch Lesson Cards ===================== */
/* ========================================================================= */

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #000000;
  background: #00BFFF;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
  max-height: 600px;
}

.toggle:checked+.lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}


/* ========================================================================= */
/* ============================ HOME PAGE CARD ============================= */
/* ========================================================================= */

.agesHeading {
  text-align: center;
  font-size: 30px;
  margin-top: 0%;
  padding-top: 20%;
  color: black;
  margin-bottom: 7%;
  font-family: 'Crete Round', serif;
}

.projectTitle {
  font-weight: bold;
}
/* ========================================================================= */
/* ========================== Lesson Instructions ========================== */
/* ========================================================================= */

.blueLink {
  color: #42a5f5 !important;
}

.projectsection1 {
  background-color: white;
  /* height: 20%; */
  padding: 2%;
  border-radius: 3px;
}

.collapsible {
  border-radius: 5%;
  background-color: white;
  height: 20%;
  font-size: 18px;
  box-shadow: none;
  border: none;
}

.collapsible-header {
  font-weight: bold;
}

.lessonSubheading {
  font-weight: bold;
}

.infosection {
  display: inline-block;
  font-weight: bold;
}

.challengeSubheading {
  background-color: darkorange;
  font-size: 30px;
  color: white;
}

.creditLine {
  font-style: italic;
}

#dataText {
  color: darkorange;
  font-weight: bold;
}

.checkbox {
  border-radius: 5%;
  text-align: center;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  z-index: 0;
  border: 4px solid #e0e0e0;
  border-radius: 1px;
  margin-top: 2px;
  /* -webkit-transition: .2s; */
  transition: .2s;
}


.left p {
  padding-left: 5%;
}

.right {
  float: right;
  width: 50%;
  padding-top: 2%;
  padding-left: 2%;
}

.right p {
  padding-left: 5%;
}

/* ========================================================================= */
/* ======================= Find Another Project Card ======================= */
/* ========================================================================= */

.browse {
  text-align: center;
}

.browse button {
  text-align: center;
  background-color: white;
  border: 3px solid #2196f3;
  width: 160px;
  height: 50px;
  margin-bottom: 10%;
}

.browse button:hover {
  text-align: center;
  color: white;
  background-color: #2196f3;
  border: 3px solid #2196f3;
  width: 160px;
  height: 50px;
}

.findanotherproject {
  width: 500px !important;
  height: 200px !important;
}

.findanotherproject h6 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-top: 10%;
}

span {
  position: relative;
}



.inlesson_kahoot {
  text-align: center;
  background-color: white;
  border: 3px solid #2196f3;
  width: 160px;
  height: 50px;
  margin-bottom: 3%;
  margin-left: 5%;
}

.inlesson_kahoot:hover {
  text-align: center;
  color: white;
  background-color: #2196f3;
  border: 3px solid #2196f3;
  width: 160px;
  height: 50px;
}

.hoverexample {
  background-color: black;
  color: white;
  padding: 20px;
  border: 2px solid green;
  width: 100%;
  transition: 1s;
}

.hoverexample:hover {
  background-color: green;
  color: black;
  padding: 50px;
  border: 2px solid white;
  width: 100%;
}



textarea {
  background-color: white;
}

/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////// p5.js ///////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */

:root {
  --stepbgcolor: white;
  --infobgcolor: #b7e3fc;
  --p5color: #eb285f;
  --darktextcolor: black;
  --midtextcolor: grey;
  --captextcolor: #606060;
  --lighttextcolor: #f7f7f7;
  --codetextcolor: var(--p5color);
  --codetextcolor0: #eb285f00;
  --codebgcolor: #ffffffcc;
  --hintduration: 5s;
  --delayduration: 5s;
  --maxwidth: 1080px;
  --minwidth: 480px;
  --radius: 0px;
  --imgradius: 3px;
}

code, pre {
  color: var(--codetextcolor);
  padding-left: 3px;
  padding-right: 3px;
}

pre {
  overflow: auto;
  overflow-y: hidden;
}

strong {
  font-weight: bold;
}

h4 {
  line-height: 1.25em;
}

h5 {
  line-height: 1.35em;
}

h6 {
  line-height: 1.45em;
}

p {
  line-height: 1.6em;
}

.contentwidth {
  display: block;
  margin: auto;
  min-width: var(--minwidth);
  max-width: var(--maxwidth);
}

.maintitle {
  font-weight: bold;
}

.p5header {
  font-weight: bold;
  color: var(--p5color);
}

.largeheading, .smallheading, .subheading {
  font-weight: bold;
}

.subheading {
  font-variant: small-caps;
  text-transform: lowercase;
}

.stepcontent {
  background-color: var(--stepbgcolor);
}

.stepcontent, .infocontent, .hintcontent {
  padding: 10px;
  border-radius: var(--radius);
}

.infoheader {
  font-weight: bold;
}

.infocontent {
  background-color: var(--infobgcolor);
}

.infocontent a {
  background-color: var(--codebgcolor);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: var(--imgradius);
}

.inlineexamples, .inlineexamples img {
  width: 80vw;
  min-width: calc(var(--minwidth)*0.8);
  max-width: calc(var(--maxwidth)*0.8);
}

.inlineshadow {
  display: block;
  margin: auto;
  width: 80vw;
  min-width: calc(var(--minwidth)*0.8);
  max-width: calc(var(--maxwidth)*0.8);
}

.inlineshadow img {
  display: block;
  margin: 1.25em auto 2em auto;
  width: 100%;
  border-radius: var(--imgradius);
  box-shadow: 0 12px 30px 0 #00000040, 0 12px 30px 0 #00000040;
}

.inlineinfo {
  width: 100%;
  padding: 5%;
  padding-bottom: 0;
}

.infocontent img {
  width: 90%;
}

.infocontent p {
  padding-left: 5px;
}

.infocontent .source {
  background-color: var(--infobgcolor);
  color: var(--captextcolor);
  padding-left: 0px;
}

.source {
  font-variant: small-caps;
  text-transform: lowercase;
}

.hintheader {
  font-weight: bold;
  color: var(--lighttextcolor);
  transition-duration: var(--delayduration);
  transition-timing-function: ease;
}

.hintcontent:hover .hintheader {
  color: #fff0;
  transition-timing-function: ease;
}

.hintcontent {
  user-select: none;
  cursor: wait;
  background-color: var(--codetextcolor);
  color: var(--codetextcolor0);
}

.hintcontent code {
  color: var(--codetextcolor0);
  padding-left: 5px;
  padding-right: 5px;
}

.hintinline {
  width: 100%;
  padding: 5%;
  padding-bottom: 0;
}

.hintcontent img {
  opacity: 0;
  visibility: hidden;
  width: 90%;
}

.hintcontent, .hintcontent code, .hintcontent img {
  transition-duration: var(--hintduration);
  transition-delay: var(--hintduration);
  transition-timing-function: ease;
}

.hintcontent:hover {
  color: var(--lighttextcolor);
  transition-duration: var(--hintduration);
  transition-delay: var(--delayduration);
  transition-timing-function: ease;
}

.hintcontent:hover code, .infocontent code {
  color: var(--codetextcolor);
  background-color: var(--codebgcolor);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: var(--imgradius);
}

.hintcontent:hover code, .hintcontent:hover img, .infocontent code {
  opacity: 1;
  visibility: visible;
  transition-duration: var(--hintduration);
  transition-delay: var(--delayduration);
  transition-timing-function: ease;
}

.findanotherproject2 {
  width: 60vw;
  min-width: calc(var(--minwidth)*0.6);
  max-width: calc(var(--maxwidth)*0.6);
  height: 200px;
}

.findanotherproject2 h6 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}

details {
  user-select: none;
  transition-duration: 1s;
  transition-timing-function: ease;
}

details *:focus {
    outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.bannercontainer {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto;
  grid-template-areas: 'last complete next';
  justify-items: center;
  align-items: center;
}

:root {
  --borderheight: 1.6em;
  --arrowtextsize: 1.7em;
}
.arrowleft {
  display: block;
  float: left;
  width: 0;
  height: 0;
  margin: 15px;
  border-top: var(--borderheight) solid transparent;
  border-bottom: var(--borderheight) solid transparent;
  border-right:15px solid white;
}

.arrowlefttext {
  display: block;
  float: right;
  margin: 10px;
  margin-left: 0px;
  padding-top: 3px;
  text-align: left;
  color: white;
  font-variant: small-caps;
  font-size: var(--arrowtextsize);
  line-height: 1em;
}

.arrowright {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin: 15px;
  border-top: var(--borderheight) solid transparent;
  border-bottom: var(--borderheight) solid transparent;
  border-left:15px solid white;
}

.arrowrighttext {
  display: block;
  float: left;
  margin: 10px;
  margin-right: 0px;
  padding-top: 3px;
  text-align: right;
  color: white;
  font-variant: small-caps;
  font-size: var(--arrowtextsize);
  line-height: 1em;
}

.bannercontainer button {
  background-color: #fff0;
  border-color: #fff0;
  cursor: pointer;
}

.complete {
  margin-bottom: 8px;
}

/* ========================================================================= */
/* ============================= other stuff =============================== */
/* ========================================================================= */

/*
.startWord {
  display: inline-block;
}

.listItems {
  padding-bottom: 7%;
}

.more {
  margin-bottom: 18%;
}

.more2 {
  margin-bottom: 13%;
}

.more3 {
  margin-bottom: 4%;
}

.example {
  margin-top: 5%;
  font-weight: bold;
}

.eventsText {
  color:peru;
  font-weight: bold;
}

.ifthen {
  font-weight: bold;
}

.controls {
  color: goldenrod;
}

.motionText {
  color: blue;
  font-weight: bold;
}

#3 {
  margin-top: 1%;
} */
/* i.material-icons.sideArrow {
  display: inline-block;
} */
/* .codingConcepts {
  text-align: center;
  font-style: italic;
  border-top: 2px dashed grey;
  padding-top: 4%;
} */
