html, body{
  height:100%;
  background-color:#41D3BD;
  padding:0;
  margin:0;
  font-family: 'Open Sans' , sans-serif;
  overflow:none;
}


body{
  display: grid;
  grid-template-rows: [HUD] 1fr [inputs] 1fr [pet] 1fr [reset] 1fr ;
  grid-gap: 50px;
  align-items: center;
}

#HUDgrid{
  display: grid;
  grid-row: HUD;
  grid-template-rows: [title] 1fr [icons] 1fr;
  grid-template-columns: 3, 1fr;
  grid-gap: 2vw;
  justify-items:center;
  width:98.5vw;
}

#iconDiv{
align-content: center;
}

.title{
/* text-align: center; */
font-size: 3vh;
grid-row:title;
grid-column: span 3;
margin:0 !important;
justify-self: center;
}

.icon{
  height:8vh;
  grid-row: icons;

}

#food{
grid-column: span 1;
}

#foodStat{
font-size: 2vh;
}

#water{
grid-column:span 2;
}

#lift{
grid-column:span 3;
}

.inputs{
 grid-row:inputs;
 margin:2vh;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap:5vw;
 width:98.5vw;
 justify-items:center;
}

.buttons{
background-color: #7C296A;
font-size:inherit;
width: 15vw;
cursor: pointer;
border:0;
border-radius: 3vh;
font-family: 'Open Sans' , sans-serif;
}

#petDiv{
  display:grid;
  grid-row: pet;
  justify-items: center;
}

#optionsDiv{
  display:grid;
  grid-row:reset;
  justify-items:center;
  margin-top:2vh;
  margin-left:.75vw;
}
